# ~~~~~ general ~~~~~ #
alias diff='git difftool --no-symlinks --dir-diff'
alias zshrc='source ~/.zshrc'
alias rm='trash'
alias cat='bat'
alias debug-starship='env STARSHIP_LOG=trace starship timings'

# Run Python3
alias python='python3'
alias pip='pip3'

# LSD 
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

# ~~~~~ NVIM ~~~~ 
# alias nvim-chad='NVIM_APPNAME=NvChad nvim'
# alias nvim-custom='NVIM_APPNAME=custom-nvim nvim'
# alias nvim-astro='nvim'
alias neovim='nvim'
alias vim='nvim'
alias nvim4='NVIM_APPNAME=astronvim_v4 nvim'

# ~~~~~ MacBook ~~~~~ #
# Most common folders
alias livs='cd /Volumes/LIVISU/livs/'

# Code Server aliases
alias cs='brew services start code-server'
alias csr='brew services restart code-server'
alias css='brew services stop code-server'

# use a MacBook as a server with the lid closed
alias caffeinate='sudo pmset -a disablesleep 1' # stop sleep
alias uncaffeinate='sudo pmset -a disablesleep 0' # disable stop sleep
alias globalpower='pmset -g' # display global power settings

# ~~~~~ Brew ~~~~~ #
alias update-brewfile='brew bundle dump --force --file=/Users/skinofmyeden/.dotfiles/system/macos/Brewfile'
alias install-brewfile='brew bundle --force --file=/Users/skinofmyeden/.dotfiles/system/macos/Brewfile'
alias fix-brew-process='rm -rf $(brew --prefix)/var/homebrew/locks'
alias rebrew='brew update && brew upgrade && brew cleanup'

# ~~~~~ SSH ~~~~~ #
alias charmbracelet='ssh git.charm.sh'
alias passphrase="dd if=/dev/urandom bs=16 count=1 2>/dev/null | base64 | sed 's/=//g'"

# ~~~~~ Docker ~~~~~ #
# Expanse container http://localhost:1301 
alias expanse-cd= 'cd /Volumes/LIVISU/livs/selfhosted/expanse'
alias expanse-on= 'sh ./run.sh prod up'
alias expanse-off= 'sh ./run.sh prod down'
alias expanse-update= 'sh ./run.sh prod update'

# ~~~~~ ricing ~~~~~ #
# Print palette in circles
alias circle='clear && echo -e "\e[31m●\e[0m \e[33m●\e[0m \e[32m●\e[0m \e[36m●\e[0m \e[34m●\e[0m \e[35m●\e[0m" && echo ""'
# Print pfetch and palette
alias pfetch='cd ~; clear && echo -e "\e[31m●\e[0m \e[33m●\e[0m \e[32m●\e[0m \e[36m●\e[0m \e[34m●\e[0m \e[35m●\e[0m" && echo "\n" && pfetch && echo ""'
# Print pride kitty and palette
alias meow='cd ~; clear && echo -e "\e[31m●\e[0m \e[33m●\e[0m \e[32m●\e[0m \e[36m●\e[0m \e[34m●\e[0m \e[35m●\e[0m" && echo "\n" && meow print --pride && echo ""'
alias tty-clock='tty-clock -C 5 -B -t -b -s -c -S' # tty-clock prefs
alias cmatrix='cmatrix -B -r' # matrix prefs
alias nms='ls -l | nms -a -f yellow' # no more secrets prefs
alias nms-s='sneakers' # no more secrets prefs
