# ~~~~~ general ~~~~~ #
alias diff='git difftool --no-symlinks --dir-diff'
alias zshrc='source ~/.zshrc'
alias rm='trash'
alias cat='bat'
alias debug-starship='env STARSHIP_LOG=trace starship timings'

# Run Python3
alias python='python3'
alias pip='pip3'

# LSD 
alias ls='lsd'
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

# ~~~~~ NVIM ~~~~ 
# NVIM_APPNAME= Folder name of nvim distro or config
# alias nvim-chad='NVIM_APPNAME=NvChad nvim'
# alias nvim-custom='NVIM_APPNAME=custom-nvim nvim'
alias nvim-astro='NVIM_APPNAME=nvim nvim'
alias nvim-astro4='NVIM_APPNAME=astronvim_v4 nvim'
alias nvim4='NVIM_APPNAME=astronvim_v4 nvim'
alias neovim='nvim'
alias vim='nvim'

# ~~~~~ MacBook ~~~~~ #
# Most common folders
alias livs='cd /Volumes/LIVISU/livs/'
alias dotfiles='cd ~/.dotfiles/config'
# Most common edited files
alias zshrc-e='nvim ~/.dotfiles/config/zsh/.zshrc'
alias zshenv='nvim ~/.dotfiles/config/zsh/.zshenv'
alias kitty-e='nvim ~/.dotfiles/config/kitty/kitty.conf'
alias alias-e='nvim ~/.dotfiles/config/shell/.aliases'
alias functions-e='nvim ~/.dotfiles/config/shell/.functions'
alias sketchybar-e='nvim ~/.dotfiles/config/sketchybar/'
alias skhd-e='nvim ~/.dotfiles/config/skhd/skhdrc'
alias yabai-e='nvim ~/.dotfiles/config/yabai/yabairc'

# Refresh system
alias refresh-dock='rm /var/folders/*/*/*/com.apple.dock.iconcache; killall Dock'

# ~~~~~ Brew ~~~~~ #
alias update-brewfile='brew bundle dump --force --file=/Users/skinofmyeden/.dotfiles/system/macos/Brewfile'
alias install-brewfile='brew bundle --force --file=/Users/skinofmyeden/.dotfiles/system/macos/Brewfile'
alias fix-brew-process='rm -rf $(brew --prefix)/var/homebrew/locks'
alias rebrew='rm -rf $(brew --cache) && brew update && brew upgrade && brew cleanup && spicetify update && spicetify restore backup && spicetify backup apply'

# ~~~~~ Git ~~~~~ #
alias g='git'
alias gaa='git add --all'
alias gs='git status'
alias gc='git clone'
alias gcu='git config user.name'
alias gce='git config user.email'
alias grv='git remote -v'
alias grro='git remote rm origin'
alias grao='git remote add origin'
alias gpo='git pull origin'
alias gfo='git fetch origin'
alias gpush='git push -u origin'
alias gsa='git submodule add'
alias gsi='git submodule init'
alias gsu='git submodule update'
alias gsurm='git submodule update --remote --merge'
alias gcob='git checkout -b'
alias gco='git checkout'

# ~~~~~ Miniforge ~~~~~~ #
alias miniforge='eval "$(/Users/skinofmyeden/miniforge3/bin/conda shell.zsh hook)"'
# ~~~~~ SSH ~~~~~ #
alias charmbracelet='ssh git.charm.sh'
alias passphrase="dd if=/dev/urandom bs=16 count=1 2>/dev/null | base64 | sed 's/=//g'"

# ~~~~~ ricing ~~~~~ #
# Print palette in circles
alias circle='clear && echo -e "\e[31m●\e[0m \e[33m●\e[0m \e[32m●\e[0m \e[36m●\e[0m \e[34m●\e[0m \e[35m●\e[0m" && echo ""'
# Print pfetch and palette
alias pfetch='cd ~; clear && echo -e "\e[31m●\e[0m \e[33m●\e[0m \e[32m●\e[0m \e[36m●\e[0m \e[34m●\e[0m \e[35m●\e[0m" && echo "\n" && pfetch && echo ""'
# Print pride kitty and palette
alias meow='cd ~; clear && echo -e "\e[31m●\e[0m \e[33m●\e[0m \e[32m●\e[0m \e[36m●\e[0m \e[34m●\e[0m \e[35m●\e[0m" && echo "\n" && meow print --pride && echo ""'
alias tty-clock='tty-clock -C 5 -B -t -b -s -c -S' # tty-clock prefs
alias cmatrix='cmatrix -B -r' # matrix prefs
alias nms='ls -l | nms -a -f yellow' # no more secrets prefs
alias nms-s='sneakers' # no more secrets prefs
