#!/usr/bin/env sh

# {{{ Select different nvim confis
nvims() {
  # See nvim aliases first (.dotfiles/config/shell/.aliases)
  # items = (Folder names of nvim distros)
  items=("nvim" "astronvim_v5")
  config=$(printf "%s\n" "${items[@]}" | fzf --prompt=" Neovim Config  " --height=~50% --layout=reverse --border --exit-0)
  if [[ -z $config ]]; then
    echo "Nothing selected"
    return 0
  # $config = "First item"
  elif [[ $config == "nvim" ]]; then
    config=""
  fi
  NVIM_APPNAME=$config nvim $@
}
bindkey -s ^a "nvims\n"

# -------------------------------------------------------------------------- }}}
#  {{{ Ability to change the current working directory when exiting Yazi.
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	if cwd="$(command cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
		builtin cd -- "$cwd"
	fi
	rm -f -- "$tmp"
}
# -------------------------------------------------------------------------- }}}
