[submodule "ricing/firefox/start-page"]
	path = ricing/firefox/start-page
	url = https://github.com/aravezskinteeth/start-page
[submodule "ricing/firefox/firefox"]
	path = ricing/firefox/firefox
	url = https://github.com/aravezskinteeth/firefox
[submodule "config/neovim/astronvim-config"]
	path = config/neovim/astronvim-config
	url = https://github.com/aravezskinteeth/astronvim-config.git
[submodule "config/neovim/nvim-custom"]
	path = config/neovim/nvim-custom
	url = https://github.com/aravezskinteeth/nvim-custom.git
[submodule "config/neovim/nvchad-config"]
	path = config/neovim/nvchad-config
	url = https://github.com/aravezskinteeth/nvchad-config
