[submodule "ricing/firefox/start-page"]
	path = ricing/firefox/start-page
	url = https://github.com/aravezskinteeth/start-page
[submodule "ricing/firefox/firefox"]
	path = ricing/firefox/firefox
	url = https://github.com/aravezskinteeth/firefox
[submodule "config/AstroNvim"]
	path = config/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
[submodule "config/nvim/astronvim-config"]
	path = config/nvim/astronvim-config
	url = https://github.com/aravezskinteeth/astronvim-config
