**/.DS_Store
/Users/skinofmyeden/.dotfiles/config/spicetify/Backup
/Users/skinofmyeden/.dotfiles/config/spicetify/Extracted
/Users/skinofmyeden/.dotfiles/config/lazygit/state.yml
/Users/skinofmyeden/.dotfiles/config/bpytop/error.log
config/lazygit/state.yml
