[color "status"]
	branch = normal dim
	added = 10 normal
	updated = 10 normal
	localbranch = normal dim
	changed = 11 normal
	header = normal
	remotebranch = normal dim italic
	nobranch = normal dim italic
	unmerged = 9 normal
	untracked = normal dim italic
[color "branch"]
	plain = normal dim
	remote = normal dim italic
	current = normal dim reverse
	local = normal dim
	upstream = normal dim italic
[color "remote"]
	hint = normal dim
	success = 2 normal
	error = 1 normal
	warning = 3 normal
[color "interactive"]
	header = normal dim italic bold
	prompt = 15 4
	help = normal dim italic
	error = normal dim italic
[color "diff"]
	commit = normal dim italic
	newMoved = 11 normal
	oldMovedAlternativeDimmed = 4 normal dim
	frag = normal dim italic
	oldMovedAlternative = 4 normal
	contextBold = normal bold
	newBold = 10 normal bold
	context = normal
	oldMoved = 3 normal
	oldBold = 1 normal bold
	newMovedDimmed = 11 normal dim
	func = normal dim italic
	meta = normal dim
	newDimmed = 10 normal dim
	newMovedAlternative = 12 normal
	new = 10 normal
	newMovedAlternativeDimmed = 12 normal dim
	whitespace = normal 9
	oldMovedDimmed = 3 normal dim
	oldDimmed = 1 normal dim
	old = 1 normal
[color "decorate"]
	branch = normal dim
	tag = normal dim italic
	remotebranch = normal dim italic
	stash = normal dim italic
	grafted = normal dim italic
	HEAD = normal dim italic
[diff]
	colorMoved = zebra
[user]
	name = aravezskinteeth
	email = kelthompson@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[rebase]
	autoStash = true
